.pageContainer {
  background: var(--ant-color-bg-container);
  min-height: calc(100vh - 56px);
}

.pageTitleContainer {
  padding: 16px 24px !important;
  border-bottom: 1px solid var(--ant-color-border);
}

.pageSubtitle {
  margin-top: 2px;
  max-width: 900px;
  line-height: 1.4;
}

.pageContent {
  padding: 24px;
  max-height: calc(100vh - 128px);
  overflow: auto;
}
